.info-item-logo {
    width: 20rem;
    height: 20rem;
}

.info-item-logo-details {
    width: 20rem;
    padding: 1rem 1rem 1rem 0.5rem;
}

.info-item-logo-details h2 {
    font-size: 2em;
    font-weight: 400;
    color: #424242;
}

.info-item-logo-details p {
    font-weight: 300;
    line-height: 1.5rem;
}

@media only screen and (max-width: 860px) {

}